* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {

   /* Colors */

   --White: hsl(0, 0%, 100%);
   --Light-pink: hsl(275, 100%, 97%);
   --Grayish-purple: hsl(292, 16%, 49%);
   --Dark-purple: hsl(292, 42%, 14%);
   
   /* fonts */

   @font-face {
      font-family: 'Work Sans'; 
      src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype'); 
      font-weight: 100 900; 
      font-style: normal;
   }

   --font-size: 16px;
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-bold: 700;
}

body {
   font-family: 'Work Sans', sans-serif;
   font-size: var(--font-size);
   background-color: var(--Light-pink); 
   
}


/* container */

.container {

   max-width: 1440px; 
   /* height: 100vh; */
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding-bottom: 60px;
  
}

.container div {
   margin: 0 auto;
}

   
/* FAQs and star */

.main {

   display: flex;
   justify-content: left;
   align-items: center;

}

/* form of header-question-answer */

form {

   width: auto;
   
   background-color: var(--White);
   border-radius: 10px;
   padding: 15px;
   margin: 0 auto;
   margin-top: -60px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   overflow: hidden; 
   
}

/* question */ 

.question {

   color: var(--Dark-purple);
   font-weight: var(--font-weight-bold);
   font-size: var(--font-size);

   padding: 20px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   

}

/* answer */ 



.answer {

   color: var(--Dark-purple);
   font-weight: var(--font-weight-medium);
   font-size: var(--font-size);

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   padding: 20px ;
   display: none;
   
   
}



.hide {
   display: none;
}

